<section class="m-2 flex h-12 gap-x-4 overflow-x-auto">
  <button
    (click)="sendButtonPrompt('¿Qué es un chat bot?')"
    class="whitespace-nowrap rounded-xl border border-neutral-300 bg-neutral-100 px-4 py-1 text-xl"
  >
    ¿Qué es un chat bot?
  </button>
  <button
    class="whitespace-nowrap rounded-xl border border-neutral-300 bg-neutral-100 px-4 py-1 text-xl"
  >
    1millionbot
  </button>
  <button
    class="whitespace-nowrap rounded-xl border border-neutral-300 bg-neutral-100 px-4 py-1 text-xl"
  >
    Contraseña perdida
  </button>
  <button
    class="whitespace-nowrap rounded-xl border border-neutral-300 bg-neutral-100 px-4 py-1 text-xl"
  >
    Error con la api
  </button>
  <button
    class="whitespace-nowrap rounded-xl border border-neutral-300 bg-neutral-100 px-4 py-1 text-xl"
  >
    ¿Qué tiempo hace hoy?
  </button>
  <button
    class="whitespace-nowrap rounded-xl border border-neutral-300 bg-neutral-100 px-4 py-1 text-xl"
  >
    Sólo quiero hablar
  </button>
</section>
